@using FD.Videolocadora.Presentation.UI.Internacionalizacao
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>VideoLocadora</h1>
    <p class="lead">@Mensagens.MensagemHome1</p>

    <p class="lead">@Mensagens.MensagemHome2</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>sollicitudin </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus viverra tellus est, scelerisque dapibus sem gravida id.
            Cras euismod nisl et libero vestibulum, vel eleifend nulla mollis.
            In odio purus, elementum at tortor eu, ullamcorper dignissim justo.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Aliquam </h2>
        <p>Nunc eu erat eget nulla placerat lacinia. Duis mi justo, pharetra vel pharetra vel, scelerisque sit amet orci. Phasellus condimentum aliquet purus eu congue. </p>
    </div>
    <div class="col-md-4">
        <h2>egestas </h2>
        <p>Morbi dignissim eget enim eu faucibus. Aliquam ac commodo eros. Cras blandit quam id dui sagittis hendrerit eu ut nunc. Integer fringilla massa sit amet fringilla sagittis.</p>
    </div>
</div>